@page "/"

 
@using System.Data
@using BlazorAppTest.Dto
@using Stimulsoft.Base 
@using Stimulsoft.Report
@using Stimulsoft.Report.Blazor
@using Stimulsoft.Report.Dictionary
@using Stimulsoft.Report.Web
@using System.Text.Json;
@inject HttpClient Http
@if (_isLoad)
{
	<StiBlazorViewer Report="@report" Options="@options" />
}
else
{
	<h1>формирование</h1>
}


@code
{
	private bool _isLoad { get; set; } = false;
	private StiReport report;
	private StiBlazorViewerOptions options; 
	protected override async Task OnInitializedAsync()
	{ 
		Stimulsoft.Base.StiLicense.Key = "";
		report = StiReport.CreateNewReport();
		var bytes = await Http.GetByteArrayAsync("Reporst/RegBatchAudit.mrt");
		var businessObjects = await Http.GetFromJsonAsync<List<RepBatchIDH>>("sample-data/RegBatchAuditData.json");
		report.Load(bytes);
		_isLoad = true;
		StateHasChanged(); 
		//var businessObjects = await JsonSerializer.DeserializeAsync<List<RepBatchIDH>>(stream);
		report.RegBusinessObject("BoxByIDH", businessObjects);
		report.Dictionary.SynchronizeBusinessObjects();
		await report.RenderAsync();
		await base.OnInitializedAsync();
	} 
}
